

 <!-- Page Content -->
 <div class="container">
    <app-menu></app-menu>
    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group" *ngFor="let category of categorys">
          <a  routerLink="category/{{category._id}}" class="list-group-item">{{category.name}}</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          
        <br />
        <div class="row">
           
            
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products; index as i" >
                    <div class="card h-100" *ngIf="i+1<13">
                      <a href="#"><img class="card-img-top" src="../assets/{{i+1}}.jpg" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">{{product.name}}</a>
                        </h4>
                        <h5 style="color: red">$ {{product.price}}</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-primary"> <i class='fas fa-shopping-cart' style='font-size:15px'></i> add</button>
                        <small class="text-muted" > &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>


                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-secondary">1</button>
                      <button type="button" class="btn btn-secondary">2</button>
                      <button type="button" class="btn btn-secondary">3</button>
                      <button type="button" class="btn btn-secondary">4</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button type="button" class="btn btn-secondary">8</button>
                    </div>
                  </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->
      

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <!-- Footer -->

<app-footer></app-footer>