<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/shoppingCart"> Mon panier</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngFor="let category of categories">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/category/{{category._id}}"> {{category.name}}</a>
        </li>
      </ul>
    </div>
    <div  class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
          <div *ngIf="activeUser === null; then blockThen else blockElse"></div>
          <ng-template #blockThen>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userCreate">Sign In</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userConnect">Log In</a>
            </li>
          </ng-template>
          <ng-template #blockElse>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userProfile/{{activeUser}}">Mon profil</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userDisconnect">Log Out</a>
            </li>
          </ng-template>
      </ul>
    </div>

    <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
            <div class="form-group has-feedback">
            <input type="text" class="form-control" name="name" id="search" [(ngModel)]="name" (keyup)="this.getProduct()" placeholder="search">
              
              <div *ngFor="let prod of products" class="resultSearch" >
                <a routerLink="/product/{{prod._id}}">{{prod.name}}</a>
              </div>
          </div>
        </form>
    </div>
      
   
  </nav>