<app-menu></app-menu>
<h1>Je créer mon profil</h1>
<form (submit)="onCreateUser()" name="userCreateForm">
    <div>
        <strong>Genre : </strong>
        <input [(ngModel)]="gender" list="genres" name="genre" id="genre">
        <datalist id="genres" aria-readonly="true">
            <option value="Monsieur">
            <option value="Madame">
        </datalist>
    </div>
    <div>
        <strong>Nom : </strong>
        <input [(ngModel)]="lastname" type="text" name="lastname" id="lastname" placeholder="Nom">
    </div>
    <div>
        <strong>Prénom : </strong>
        <input [(ngModel)]="firstname" type="text" name="firstname" id="firstname" placeholder="Prénom">
    </div>
    <div>
        <strong>Date de naissance : </strong>
        <input [(ngModel)]="dateOfBirth" type="text" name="dateOfBirth" id="dateOfBirth" placeholder="Date de naissance">
    </div>
    <div>
        <strong>Username : </strong>
        <input [(ngModel)]="username" type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
        <strong>Password : </strong>
        <input [(ngModel)]="password" type="text" name="password" id="password" placeholder="Mot de passe">
    </div>
    <div>
        <strong>Courriel : </strong>
        <input [(ngModel)]="email" type="text" name="email" id="email" placeholder="Courriel">
    </div>
    <div>
        <strong>Téléphone : </strong>
        <input [(ngModel)]="phone" type="number" name="phone" id="phone" placeholder="N° de téléphone">
    </div>
    <div>
        <strong>Carte principale : </strong>
        <p><i>N° de carte : </i><input [(ngModel)]="cardNumber" type="number" name="numCard" id="numCard" placeholder="N° de carte"></p>
        <p><i>Nom sur la carte : </i><input [(ngModel)]="cardName" type="text" name="nomCard" id="nomCard" placeholder="Nom sur carte"></p>
        <p><i>Date de validité : </i><input [(ngModel)]="cardDate" type="text" name="dateCard" id="dateCard" placeholder="Date de validité"></p>
        <p><i>N° secret : </i><input [(ngModel)]="cardSec" type="number" name="numSec" id="numSec" placeholder="Code secret"></p>
    </div>
    <div>
        <strong>Adresses enregistrées : </strong>
        <p><i>Adresse 1 : </i><input [(ngModel)]="add1" type="text" name="add1" id="add1" placeholder="Adresse 1"></p>
        <p><i>Adresse 2 :</i><input [(ngModel)]="add2" type="text" name="add2" id="add2" placeholder="Adresse 2"></p>
        <p><i>Code postal : </i><input [(ngModel)]="cp" type="text" name="cp" id="cp" placeholder="Code postal"></p>
        <p><i>Ville : </i><input [(ngModel)]="ville" type="text" name="ville" id="ville" placeholder="Ville"></p>
    </div>
    <input type="submit" value="Envoyer">
</form>